.footer-text-container {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-text-header {
    font-size: 18px;
    font-weight: 500;
    margin: 32px 48px 8px 48px;
    text-align: left;
}

.footer-text-content {
    font-size: 16px;
    margin: 0 48px;
    text-align: left;
}

.footer-text-content a { color: #000000; }