.App { height: 100vh; }

.header-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 16px;
    width: 100%;
}

.footer {
    bottom: 0;
    position: fixed;
    width: 100%;
}

.footer-line { border-top: 1px solid #cccccc; margin: 0; }

.footer-content-container {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.divider-line {
    border-top: 1px solid #cccccc;
    margin: 0 32px;
    width: 30%;
}

@media (max-width: 768px) {
    .home-page-subcontainer { align-items: center; flex-direction: column; }
    .personal-image-description-container { margin-left: 0; }
}