.projects-page-container {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: center;
    max-height: 80%;
    max-width: 100%;
    overflow: hidden;
    width: 100%;
}