.header-text-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.header-logo {
    background-color: orange;
    border-radius: 50%;
    height: 24px;
    margin: 20px 8px 0 16px;
    width: 24px;
}

.header-text-name {
    font-size: 24px;
    font-weight: bold;
    margin: 16px 8px 0 16px;
}

.header-text-title { font-size: 16px; margin: 20px 0 0 8px; }